.image-block {
    padding: 20px;
    justify-content: center;
}

p {
    font-size: 20px;
    font-weight: 300;
}
.input-block {
    
    display: flex;
    justify-content: center;
    
}
.input-block-2 {
   
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px grey;;
    background-color: transparent;
    background-size: 100% 1.2em;
}
